/* src/App.css */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the app takes at least the full viewport height */
}

.App > * {
  flex-shrink: 0; /* Prevents the footer from shrinking */
}

.App > main {
  flex-grow: 1; /* Allows the main content to grow and push the footer down */
}